.imagesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill,320px);
    grid-gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.imagesGrid img {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.ateliereIframe {
    width: 601px;
    height: 338px;
}

@media only screen and (max-width: 600px){
    .ateliereIframe {
        width: 300px;
        height: 169px;
    }
}