@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Balsamiq Sans", cursive !important;
  background-color: #2c2e0e!important;
}

#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #8d8f7f;
}

main {
  min-height: 100vh;
  padding: 1rem;
  color: whitesmoke;
  max-width: 80rem;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.header {
  margin: 1rem auto 0 auto;
  display: flex;
  gap: 2rem;
}

.youtubeIframe {
  width: 601px;
  height: 338px;
}

.modal-backdrop.show {
  opacity: 0.8!important;
}

@media only screen and (max-width: 600px) {
  .youtubeIframe {
    width: 300px;
    height: 169px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
