.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(/images/11.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover; */
  background-color: #210000;
}

.customCursor {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
}

